﻿@model PostModel
@{
    Layout = "_Layout";
}


<form asp-action="Create"  enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="title" class="control-label"></label>
        <input asp-for="title" class="form-control" />
        <span asp-validation-for="title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="text" class="control-label"></label>
        <textarea asp-for="text" class="form-control"></textarea>
        <span asp-validation-for="text" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="image" class="control-label"></label>
        <input name="image" type="file" class="form-control" />
        <span asp-validation-for="image" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="category" class="control-label"></label>
        <input asp-for="category" class="form-control" />
        <span asp-validation-for="category" class="text-danger"></span>
    </div>


    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
