﻿@using JustBlogProject.Models
@model IEnumerable<Post>
@{
    Layout = "_Layout";
}

@foreach (Post post in Model)
{

    <style>
    .image_@post.file.Id
    {
        background: url(@post.file.Path) center/cover no-repeat;
    }
    </style>

    <div class="example-2 card ">
        <div class="wrapper image_@post.file.Id">
            <div class="header">
                <div class="date">
                    <span class="day">@post.postTime.Day</span>
                    <span class="month">@post.postTime.Month</span>
                    <span class="year">@post.postTime.Year</span>
                </div>
                <ul class="menu-content">
                    <li>
                        <a href="#" class="fas fa-bookmark"></a>
                    </li>
                    <li><a href="#" class="fas fa-heart"><span>@post.like</span></a></li>
                    <li><a href="#" class="fas fa-comment"><span>3</span></a></li>
                </ul>
            </div>
            <div class="data">
                <div class="content">
                    <span class="author">@post.user.profile.name</span>
                    <h1 class="title"><a href="#">@post.title</a></h1>
                    <p class="text">@post.cropedText</p>
                    <a href="#" class="button">Read more</a>
                </div>
            </div>
        </div>
    </div>
}