﻿@model LoginModel
@{
    Layout = "_LoginLayout";
}

<form method="post" class="login-form">
    <div class="login-icon-field">
        <img src="~/images/logo.png" alt="">
    </div>
    <span class="login-title">
        <h2>LOG IN</h2>
    </span>
    <div class="username-input">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input asp-for="username" class="mdl-textfield__input" type="text" id="login">
            <label asp-for="username" class="mdl-textfield__label" for="login">Login</label>
            <span asp-validation-for="username" class="text-danger"></span>
        </div>
    </div>
    <div class="password-input">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input asp-for="password" class="mdl-textfield__input" type="password" id="password">
            <label asp-for="password" class="mdl-textfield__label" for="password">Password</label>
            <span asp-validation-for="password" class="text-danger"></span>
        </div>
    </div>
    <div class="login-button">
        <button asp-action="Login" type="submit" class="mdl-button mdl-js-button mdl-button--primary">Login</button>
        <a asp-action="Register" class="mdl-button mdl-js-button mdl-button--primary">Sign up</a>
    </div>
</form>
