﻿@model RegisterModel
@{
    Layout = "_LoginLayout";
}
<form asp-action="Register" class="login-form">
    <span class="login-title">
        <h2>SIGN UP</h2>
    </span>

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="username-input">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input asp-for="username" class="mdl-textfield__input" />
            <label asp-for="username" class="mdl-textfield__label">Login</label>
            <span asp-validation-for="username" class="text-danger"></span>
        </div>
    </div>
    <div class="username-input">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input asp-for="password" class="mdl-textfield__input" />
            <label asp-for="password" class="mdl-textfield__label">Password</label>
            <span asp-validation-for="password" class="text-danger"></span>
        </div>
    </div>
    <div class="username-input">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input asp-for="confirmPassword" class="mdl-textfield__input" />
            <label asp-for="confirmPassword" class="mdl-textfield__label">Confirm Password</label>
            <span asp-validation-for="confirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="username-input">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <label asp-for="name" class="mdl-textfield__label">Name</label>
            <input asp-for="name" class="mdl-textfield__input" />
            <span asp-validation-for="name" class="text-danger"></span>
        </div>
    </div>
    <div class="username-input">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <label asp-for="surname" class="mdl-textfield__label">Surname</label>
            <input asp-for="surname" class="mdl-textfield__input" />
            <span asp-validation-for="surname" class="text-danger"></span>
        </div>
    </div>
    <div class="username-input">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <label asp-for="fathersName" class="mdl-textfield__label">Fathers name</label>
            <input asp-for="fathersName" class="mdl-textfield__input" />
            <span asp-validation-for="fathersName" class="text-danger"></span>
        </div>
    </div>
    <div class="username-input">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <label asp-for="email" class="mdl-textfield__label">E-mail</label>
            <input asp-for="email" class="mdl-textfield__input" />
            <span asp-validation-for="email" class="text-danger"></span>
        </div>
    </div>

    <div class="login-button">
        <input type="submit" value="Register" class="mdl-button mdl-js-button mdl-button--primary" />
        <a asp-action="Login" class="mdl-button mdl-js-button mdl-button--primary">Back</a>
    </div>
</form>

