﻿



<img class="avatar-image" src="images/avatar.png" alt="Avatar">
<label class="avatar-lable">@ViewData["Name"]</label>
<label class="avatar-lable">@ViewData["Surname"]</label>
<label class="avatar-lable"><i class="fas fa-at"></i> @ViewData["email"]</label>


