﻿


<div class="avatar-div ">
    <img class="avatar-image" src="~/images/avatar.png" alt="Avatar">
    <label class="avatar-lable">@ViewBag.name</label>
    <label class="avatar-lable">@ViewBag.surname</label>
    <label class="avatar-lable">@ViewBag.email</label>
</div>