body {
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-areas: 'menu menu menu menu menu menu' 'content content content content content content' 'content content content content content content' 'footer footer footer footer footer footer';
}

.menu {
    grid-area: menu;
}

.content {
    grid-area: content;
}

.footer-div {
    grid-area: footer;
}

.avatar-div {
    display: flex;
    flex-direction: row;
    height: 50px;
    border-radius: 50%;
}

.avatar-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.avatar-lable {
    margin: 12px 5px 5px 5px;
}

/*footer*/
section {
    padding: 40px 0px;
}

    section .section-title {
        text-align: center;
        color: #2F2F38;
        margin-bottom: 30px;
        text-transform: uppercase;
    }

#footer {
    background: #2F2F38 !important;
}

    #footer h5 {
        padding-left: 10px;
        border-left: 3px solid #eeeeee;
        padding-bottom: 6px;
        margin-bottom: 20px;
        color: #ffffff;
    }

    #footer a {
        color: #ffffff;
        text-decoration: none !important;
        background-color: transparent;
        -webkit-text-decoration-skip: objects;
    }

    #footer ul.social li {
        padding: 3px 0;
    }

        #footer ul.social li a i {
            margin-right: 5px;
            font-size: 25px;
            -webkit-transition: .5s all ease;
            -moz-transition: .5s all ease;
            transition: .5s all ease;
        }

        #footer ul.social li:hover a i {
            font-size: 30px;
            margin-top: -10px;
        }

        #footer ul.social li a,
        #footer ul.quick-links li a {
            color: #ffffff;
        }

            #footer ul.social li a:hover {
                color: #eeeeee;
            }

    #footer ul.quick-links li {
        padding: 3px 0;
        -webkit-transition: .5s all ease;
        -moz-transition: .5s all ease;
        transition: .5s all ease;
    }

        #footer ul.quick-links li:hover {
            padding: 3px 0;
            margin-left: 5px;
            font-weight: 700;
        }

        #footer ul.quick-links li a i {
            margin-right: 5px;
        }

        #footer ul.quick-links li:hover a i {
            font-weight: 700;
        }

@media (max-width:767px) {
    #footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}

.collapse {
    justify-content: flex-end;
}


/*Posts*/

.row {
    max-width: 900px;
    margin: 50px auto 0;
}

.card {
    float: left;
    margin:5px;
    width: 24.5%;
}

    .card .menu-content {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

        .card .menu-content::before, .card .menu-content::after {
            content: '';
            display: table;
        }

        .card .menu-content::after {
            clear: both;
        }

        .card .menu-content li {
            display: inline-block;
        }

        .card .menu-content a {
            color: #fff;
        }

        .card .menu-content span {
            position: absolute;
            left: 50%;
            top: 0;
            font-size: 10px;
            font-weight: 700;
            font-family: 'Open Sans';
            -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
        }

    .card .wrapper {
        background-color: #fff;
        min-height: 540px;
        position: relative;
        overflow: hidden;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
    }

        .card .wrapper:hover .data {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }

    .card .data {
        position: absolute;
        bottom: 0;
        width: 100%;
        -webkit-transform: translateY(calc(70px + 1em));
        transform: translateY(calc(70px + 1em));
        -webkit-transition: -webkit-transform 0.3s;
        transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
        transition: transform 0.3s, -webkit-transform 0.3s;
    }

        .card .data .content {
            padding: 1em;
            position: relative;
            z-index: 1;
        }

    .card .author {
        font-size: 12px;
    }

    .card .title {
        margin-top: 10px;
    }

    .card .text {
        height: 70px;
        margin: 0;
    }

    .card input[type='checkbox'] {
        display: none;
    }

        .card input[type='checkbox']:checked + .menu-content {
            -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
        }




    .example-2 .wrapper:hover .menu-content span {
        -webkit-transform: translate(-50%, -10px);
        transform: translate(-50%, -10px);
        opacity: 1;
    }

.example-2 .header {
    color: #fff;
    padding: 1em;
}

    .example-2 .header::before, .example-2 .header::after {
        content: '';
        display: table;
    }

    .example-2 .header::after {
        clear: both;
    }

    .example-2 .header .date {
        float: left;
        font-size: 12px;
    }

.example-2 .menu-content {
    float: right;
}

    .example-2 .menu-content li {
        margin: 0 5px;
        position: relative;
    }

    .example-2 .menu-content span {
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        opacity: 0;
    }

.example-2 .data {
    color: #fff;
    -webkit-transform: translateY(calc(70px + 4em));
    transform: translateY(calc(70px + 4em));
}

.example-2 .title a {
    color: #fff;
}

.example-2 .button {
    display: block;
    width: 100px;
    margin: 2em auto 1em;
    text-align: center;
    font-size: 12px;
    color: #fff;
    line-height: 1;
    position: relative;
    font-weight: 700;
}

    .example-2 .button::after {
        content: '\2192';
        opacity: 0;
        position: absolute;
        right: 0;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }

    .example-2 .button:hover::after {
        -webkit-transform: translate(5px, -50%);
        transform: translate(5px, -50%);
        opacity: 1;
    }







