* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}

input {
	outline: none;
	border: none;
}

h2{
    color: black;
}
.main-container {
    width: 100%;
    margin: 0 auto;
  }

  .login-form-container {
    width: 100%;  
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
  
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1; 
  }
  .login-form-box {
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
    padding: 55px 55px 37px 55px;
  
    background: transparent;
  }

  .login-form{
      width: 100%;
  }

  .login-logo {
    font-size: 60px; 
    color: #333333;
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color:white;
    margin: 0 auto;
  }

  .login-title {
    font-size: 30px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
  
    display: block;
  }

  .username-input {
    width: 100%;
    position: relative;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .input100 {
    font-family: Poppins-Regular;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
  
    display: block;
    width: 100%;
    height: 45px;
    background: transparent;
    padding: 0 5px 0 38px;
  }
  .password-input {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
  }

  .login-button {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .mdl-button{
     
      font-weight: bold;
      font-size: 1.3em;
  }
  .mdl-button--primary.mdl-button--primary{
      color:black;
  }
  .login-icon-field{
    display: flex;
    height: 200px;
    width: 100%;
    align-items: center;
   
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
